body {
    font-family: 'Roboto', sans-serif;
}

.title {
    font-size: 2.5em;
    margin-bottom: 20px;
    text-align: center;
}

.table-container {
    max-height: 400px; /* Ajuste a altura máxima conforme necessário */
    overflow-y: auto; /* Adiciona uma barra de rolagem vertical se o conteúdo exceder a altura máxima */
    width: 100%; /* Garante que o container da tabela use toda a largura disponível */
    border: 1px solid #ddd; /* Adiciona uma borda ao redor do container */
}

.table-fixed {
    width: 100%; /* Ajusta a largura para preencher o container */
    table-layout: fixed; /* Faz com que a tabela use o layout fixo */
}

.table-fixed th, .table-fixed td {
    word-wrap: break-word; /* Quebra palavras longas */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa as células */
    text-overflow: ellipsis; /* Adiciona reticências (...) para texto que não cabe na célula */
}


.btn-primary {
    background-color: #000000;
    border: none;
    padding: 10px 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s, box-shadow 0.3s;
}

    .btn-primary:hover {
        background-color: #000000;
        box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    }

.btn-square {
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-left: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
    position: relative;
}

    .btn-square i {
        font-size: 20px;
        color: white;
    }

.btn-success.btn-square {
    background-color: #28a745;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.btn-danger.btn-square {
    background-color: #dc3545;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.btn-square:hover {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.btn.active {
    border: 2px solid transparent;
    animation: rotateBorder 2s linear infinite;
    box-shadow: 0 0 10px #000000;
}

@keyframes rotateBorder {
    0% {
        border: 2px solid #000000;
        box-shadow: 0 0 10px #000000;
    }

    25% {
        border: 2px solid transparent;
        box-shadow: 0 0 10px transparent;
    }

    50% {
        border: 2px solid #000000;
        box-shadow: 0 0 10px #000000;
    }

    75% {
        border: 2px solid transparent;
        box-shadow: 0 0 10px transparent;
    }

    100% {
        border: 2px solid #000000;
        box-shadow: 0 0 10px #000000;
    }
}


.form-control {
    width: auto;
    display: inline-block;
    color: #e0e0e0;
    border-radius: 4px;
    padding: 5px 10px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

    .form-control:focus {
        border-color: #1ab1d7;
        box-shadow: 0 0 5px rgba(255, 102, 0, 0.5);
    }